table {
    border-collapse: collapse;
    align-self: center;
    border: 2px solid black;
  }
  .menu-bar {
    color: white;
    font-size: 24px;
  }
  .main {
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    line-height: 42px;
  }

    .content{
      color:white;
      margin: 20px;
      font-size: 25px;
      padding: 30px;
      text-align: justify;
    }

    .footer{
      text-align: right;
      padding-right: 30px;
    }